*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont;
}

.loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
}

.login__left {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8239670868) 40%, rgba(0, 212, 255, 0) 100%), url("../img/login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login__left img {
  width: auto;
  height: 70px;
  margin-top: 2.5rem;
  margin-left: 3rem;
}
.login__right {
  width: 100%;
  height: 100vh;
  padding: 0 5rem;
  background-color: #131313;
  position: relative;
}
.login__right h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
}
.login__right p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 992px) {
  .login__right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    padding: 3rem 3.5rem;
    border-radius: 5px;
    background-color: rgba(19, 19, 19, 0.6);
  }
}

.form__wrapper {
  position: absolute;
  top: 50%;
  left: 5rem;
  width: calc(100% - 5rem);
  height: auto;
  transform: translateY(-50%);
  padding-right: 5rem;
}
@media screen and (max-width: 992px) {
  .form__wrapper {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0);
    width: 100%;
    padding-right: 0;
  }
}
.form__login {
  width: 90%;
  max-width: 500px;
}
@media screen and (max-width: 992px) {
  .form__login {
    width: 100%;
    max-width: 100%;
  }
}
.form__login input {
  display: block;
  margin-top: 2rem;
  outline: none;
  font-size: 1.2rem;
  font-family: inherit;
}
.form__login input[type=text],
.form__login input[type=password] {
  width: 100%;
  background-color: #0D0D0D;
  border: solid 2px #0D0D0D;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}
.form__login input[type=text]:not(:placeholder-shown),
.form__login input[type=password]:not(:placeholder-shown) {
  border: solid 2px #87764E;
}
.form__login input[type=text]::placeholder,
.form__login input[type=password]::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .form__login input[type=text],
.form__login input[type=password] {
    background-color: rgba(19, 19, 19, 0.4);
    border: solid 2px rgba(255, 255, 255, 0.4);
  }
  .form__login input[type=text]::placeholder,
.form__login input[type=password]::placeholder {
    /* Microsoft Edge */
    color: white;
    opacity: 1;
  }
  .form__login input[type=text]:not(:placeholder-shown),
.form__login input[type=password]:not(:placeholder-shown) {
    border: solid 2px white;
  }
}
.form__login input[type=submit] {
  padding: 0.7rem 5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: #87764E;
  cursor: pointer;
  margin-left: auto;
}
.form__login input[type=submit]:hover {
  background-color: #776845;
}

/*# sourceMappingURL=login.css.map */
