*, *::after, *::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont;
}

.loader{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .5);
}

.login{
    &__left{
        width: 100%;
        height: 100vh;
        background:
        linear-gradient(90deg, rgba(0,0,0,0.8239670868347339) 40%, rgba(0,212,255,0) 100%),
        url('../img/login-background.jpg'){
            repeat: no-repeat;
            size: cover;
            position: center;
        }

        img{
            width: auto;
            height: 70px;
            margin: {
                top: 2.5rem;
                left: 3rem;
            }
        }
    }

    &__right{
        width: 100%;
        height: 100vh;
        padding: 0 5rem;
        background-color:  #131313;
        position: relative;

        h1{
            margin: {
                top: 0;
                bottom: 1rem;
            }
            color: white;
        }

        p{
            margin: {
                top: 0;
                bottom: .5rem;
            }
            color: rgba(255, 255, 255, .5);
        }

        @media screen and (max-width: 992px){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: auto;
            padding: 3rem 3.5rem;
            border-radius: 5px;
            background-color: rgba($color: #131313, $alpha: .6);
        }
    }
}

.form{
    &__wrapper{
        position: absolute;
        top: 50%;
        left: 5rem;
        width: calc(100% - 5rem);
        height: auto;
        transform: translateY(-50%);
        padding-right: 5rem;

        @media screen and (max-width: 992px){
            position: relative;
            top: 0;
            left: 0;
            transform: translateY(0);
            width: 100%;
            padding-right: 0;
        }
    }

    &__login{
        width: 90%;
        max-width: 500px;

        @media screen and (max-width: 992px){
            width: 100%;
            max-width: 100%;
        }

        input{
            display: block;
            margin-top: 2rem;
            outline: none;
            font-size: 1.2rem;
            font-family: inherit;
        }

        input[type=text],
        input[type=password]{
            width: 100%;
            background-color: #0D0D0D;
            border: solid 2px #0D0D0D;
            padding: 1rem;
            color: white;
            border-radius: .5rem;

            &:not(:placeholder-shown){
                border: solid 2px #87764E;
            }
            &::placeholder{
                color: rgba(255, 255, 255, .5);
                opacity: 1;
            }


            @media screen and (max-width: 992px){
                background-color: rgba($color: #131313, $alpha: .4);
                border: solid 2px rgba($color: white, $alpha: .4);

                &::placeholder{ /* Microsoft Edge */
                    color: white;
                    opacity: 1;
                }

                &:not(:placeholder-shown){
                    border: solid 2px white;
                }
            }
        }

        input[type=submit]{
            padding: .7rem 5rem;
            border: none;
            border-radius: .5rem;
            color: white;
            background-color: #87764E;
            cursor: pointer;
            margin-left: auto;

            &:hover{
                background-color: darken(#87764E, 5%);
            }
        }
    }
}